/* System Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Public variables */
:root {
  --herb-green: #99EC4E;
  --herb-dark-green: #73c225;
  --herb-light-green: #EDFFDA;
}

body {
  background-color: var(--herb-light-green);
}

/* Main Styles */
main {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.mainlogo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 15px;
}

header {
    text-align: center;
}

footer {
    color: white;
    background-color: var(--herb-dark-green);
    padding: 25px;
}

footer a,
footer p {
    margin: 0;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    background-color: var(--herb-green);
    text-align: center
}

li {
  display: inline;
}