@import "tailwindcss";

/* Colors */
:root {
  --herb-green: #BAF064;
  --dark-accent: #83da54;
  --light-accent: #ffffff;
}

/* Website Background Styles */
body {
  background-color: var(--light-accent);
}

/* Main Styles - Text */
main {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* Main Styles - Main Logo */
.mainlogo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 15.5px;
    opacity: 0;
    transition: opacity 0.55s ease-in;
}

.fade-in {
  opacity: 1;
}

.wip-image{
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15.5px;
    margin-bottom: 15.5px;
}

/* Header and Footer Styles */
header { text-align: center; }
footer {
    color: white;
    background-color: var(--dark-accent);
    margin-top: 15.5px;
    padding: 25px;
}
footer a,
footer p {
    margin: 0;
    line-height: 1.5;
}

/* List Styles */
ul {
    margin: 0;
    padding: 0;
    background-color: var(--herb-green);
    text-align: center
}

li {
  display: inline;
}

/* Navigation Styles */

nav {
  width: 255px;
  margin: 10px auto;
  background-color: var(--herb-green);
  padding: 10px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
  border-radius: 50px;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 12pt;
  border-radius: 25px;
  padding: 12px 15px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--dark-accent);
}

nav a.active {
  background-color: var(--dark-accent);
}
